body {
  margin: 8px;
}

#stage {
  /* Canvas*/
  cursor: crosshair;
}
#root {
  border: 1px solid gray;
  position: relative;
  width: 800px;
  height: 400px;
  /* border: 1px dashed red; */
  background-image: url("assets/bg.png");
  background-repeat: no-repeat;
  --background-position: 1px,1px;
}

#score {
  left: 10px;
  top: 10px;
  pointer-events: none;

}
#timer {
  right:10px;
  top: 10px;
  pointer-events: none;

}

#calpis {
  left: 10px;
  bottom:  20px;
  pointer-events: none;

}

#start {
  left: 300px;
  top:  140px;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;;
}

#start:hover {
  background-color: red;

}

#start:active {
  background-color: navy;
}

#score, #timer, #calpis, #start {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  color: orange;
  font-family: monospace;
  text-shadow: 2px 2px 5px black;
}
